## Melon 주간 차트 크롤링

In [47]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [13]:
url = 'https://www.melon.com/chart/week/index.htm'
header = {'User-Agent' : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.77 Safari/537.36"}    # header에 uUser-Agent 값을 주어야 가져올 수 있음
req = requests.get(url, headers = header)
html = req.text

In [ ]:
# selector - #lst50 > td:nth-child(6) > div > div > div.ellipsis.rank02 > a
# Xpath - //*[@id="lst50"]/td[6]/div/div/div[2]/a

In [16]:
soup = BeautifulSoup(html, 'html.parser')

In [57]:
trs = soup.select('#lst50')
tr = trs[0]

In [28]:
rank = int(tr.select_one('.rank').string)   # .string or .get_test()
rank

1

In [41]:
title = tr.select_one('.ellipsis.rank01')
title = title.find('a').string
title

'Butter'

In [39]:
artist = tr.select_one('.ellipsis.rank02')
artist = artist.find('a').get_text()
artist

'방탄소년단'

In [40]:
album = tr.select_one('.ellipsis.rank03')
album = album.find('a').get_text()
album

'Butter'

In [ ]:
# Top 50 Dataframe

In [58]:
r_list, t_list, ar_list, al_list = [], [], [], []
for tr in trs :
    rank = int(tr.select_one('.rank').string)
    r_list.append(rank)
    
    title = tr.select_one('.ellipsis.rank01')
    title = title.find('a').string
    t_list.append(title)
    
    artist = tr.select_one('.ellipsis.rank02')
    artist = artist.find('a').get_text()
    ar_list.append(artist)
    
    album = tr.select_one('.ellipsis.rank03')
    album = album.find('a').get_text()
    al_list.append(album)

In [49]:
df = pd.DataFrame({
    'Rank' : r_list,
    'Title' : t_list,
    'Artist' : ar_list,
    'Album' : al_list
})
df.head()

,Rank,Title,Artist,Album
0,1,Butter,방탄소년단,Butter
1,2,Dun Dun Dance,오마이걸 (OH MY GIRL),Dear OHMYGIRL
2,3,Peaches (Feat. Daniel Caesar & Giveon),Justin Bieber,Justice
3,4,헤픈 우연,헤이즈 (Heize),HAPPEN
4,5,롤린 (Rollin'),브레이브걸스,Rollin'

- 이미지 속성값 가져오기

In [53]:
image = trs[0].select_one('.image_typeAll').find('img')
image = image['src']
image

'https://cdnimg.melon.co.kr/cm2/album/images/106/12/483/10612483_20210521111412_500.jpg/melon/resize/120/quality/80/optimize'

In [70]:
# Top 100 DataFrame
trs = soup.select('#lst50')
trs2 = soup.select('#lst100')
trs.extend(trs2)

r_list, t_list, ar_list, al_list, i_list = [], [], [], [], []

for tr in trs :
    rank = int(tr.select_one('.rank').string)
    r_list.append(rank)
    
    title = tr.select_one('.ellipsis.rank01')
    title = title.find('a').string
    t_list.append(title)
    
    artist = tr.select_one('.ellipsis.rank02')
    artist = artist.find('a').get_text()
    ar_list.append(artist)
    
    album = tr.select_one('.ellipsis.rank03')
    album = album.find('a').get_text()
    al_list.append(album)

    image = trs[0].select_one('.image_typeAll').find('img')
    image = image['src']
    i_list.append(image)

In [71]:
df = pd.DataFrame({
    'Rank' : r_list,
    'Title' : t_list,
    'Artist' : ar_list,
    'Album' : al_list,
    'Album cover' : i_list
})
df

,Rank,Title,Artist,Album,Album cover
0,1,Butter,방탄소년단,Butter,https://cdnimg.melon.co.kr/cm2/album/images/10...
1,2,Dun Dun Dance,오마이걸 (OH MY GIRL),Dear OHMYGIRL,https://cdnimg.melon.co.kr/cm2/album/images/10...
2,3,Peaches (Feat. Daniel Caesar & Giveon),Justin Bieber,Justice,https://cdnimg.melon.co.kr/cm2/album/images/10...
3,4,헤픈 우연,헤이즈 (Heize),HAPPEN,https://cdnimg.melon.co.kr/cm2/album/images/10...
4,5,롤린 (Rollin'),브레이브걸스,Rollin',https://cdnimg.melon.co.kr/cm2/album/images/10...
...,...,...,...,...,...
95,96,혼술하고 싶은 밤,벤,혼술하고 싶은 밤,https://cdnimg.melon.co.kr/cm2/album/images/10...
96,97,죄와벌,SG 워너비,살다가,https://cdnimg.melon.co.kr/cm2/album/images/10...
97,98,되풀이,임창정,펜트하우스2 OST Part.1,https://cdnimg.melon.co.kr/cm2/album/images/10...
98,99,고래 (Dive Into You),NCT DREAM,맛 (Hot Sauce) - The 1st Album,https://cdnimg.melon.co.kr/cm2/album/images/10...
99,100,돌림노래 (Feat. DEAN),아이유,IU 5th Album 'LILAC',https://cdnimg.melon.co.kr/cm2/album/images/10...

In [76]:
period = soup.select_one('.yyyymmdd').get_text().strip()
period

'2021.05.24 ~ 2021.05.30'

In [77]:
filename = f'Melon_Top_100({period}).csv'
df.to_csv(filename, index = False, sep = ',')