## Python에서 MySQL 사용하기

In [1]:
import json
import pymysql

In [11]:
with open ('mysql.json', 'r') as file :
    config_str = file.read()
config_str

'{\n    "host" : "127.0.0.1",\n    "user" : "root",\n    "password" : "1226",\n    "database" : "world",\n    "port" : 3306\n}'

In [12]:
# json parsing
config = json.loads(config_str)
config

{'host': '127.0.0.1',
 'user': 'root',
 'password': '1226',
 'database': 'world',
 'port': 3306}

- connection 객체 만들기

In [13]:
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port']
)

In [14]:
cur = conn.cursor()

In [19]:
sql = 'select * from team;'
cur.execute(sql)

10

In [20]:
rows = cur.fetchall()
for row in rows :
    print(row)

(1, 10, '문성현', '투수', 3750000)
(2, 26, '김정후', '투수', 2666667)
(3, 27, '박동원', '포수', 19166667)
(4, 32, '이지영', '포수', 25000000)
(5, 52, '박병호', '내야수', 125000000)
(6, 62, '전병우', '내야수', 5000000)
(7, 51, '이정후', '외야수', 45833334)
(8, 19, '이용규', '외야수', 8333333)
(9, 39, '양현', '투수', 10000000)
(10, 14, '서건창', '내야수', 18750000)

In [21]:
# resource 반환
cur.close()
conn.close()