# Pandas

In [1]:
import pandas as pd

### 1. Series

In [2]:
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int64

In [3]:
s = pd.Series([9904312, 3448737, 2890451, 2466052], \
    index = ['Seoul', 'Busan', 'Incheon', 'Daegu'])
s

Seoul      9904312
Busan      3448737
Incheon    2890451
Daegu      2466052
dtype: int64

In [4]:
s.index

Index(['Seoul', 'Busan', 'Incheon', 'Daegu'], dtype='object')

In [5]:
s.values

array([9904312, 3448737, 2890451, 2466052])

In [6]:
s.name = 'Population'
s.index.name = 'City'
s

City
Seoul      9904312
Busan      3448737
Incheon    2890451
Daegu      2466052
Name: Population, dtype: int64

- Series 연산

In [7]:
s / 1000000

City
Seoul      9.904312
Busan      3.448737
Incheon    2.890451
Daegu      2.466052
Name: Population, dtype: float64

- Series 인덱싱

In [8]:
s[0], s['Seoul']

(9904312, 9904312)

In [9]:
s[[0, 2]], s[['Busan', 'Daegu']]    # 데이터의 일부분만 가져올 수 있음

(City
 Seoul      9904312
 Incheon    2890451
 Name: Population, dtype: int64,
 City
 Busan    3448737
 Daegu    2466052
 Name: Population, dtype: int64)

- Slicing

In [10]:
s[1 : 3], s['Busan' : 'Daegu']  # 문자로 표현 시 작성된 값까지 포함

(City
 Busan      3448737
 Incheon    2890451
 Name: Population, dtype: int64,
 City
 Busan      3448737
 Incheon    2890451
 Daegu      2466052
 Name: Population, dtype: int64)

In [11]:
s[s < 3000000]

City
Incheon    2890451
Daegu      2466052
Name: Population, dtype: int64

- 편리한 인덱싱

In [12]:
s.Seoul, s.Daegu

(9904312, 2466052)

- 시리즈와 딕셔너리 자료형

In [13]:
'Seoul' in s

True

In [14]:
for k, v in s.items() :
    print(f'{k} = {v}')

Seoul = 9904312
Busan = 3448737
Incheon = 2890451
Daegu = 2466052

In [15]:
fruits = {'apple' : 1000, 'banana' : 2000, 'cherry' : 3000}
f = pd.Series(fruits)
f

apple     1000
banana    2000
cherry    3000
dtype: int64

### 2. DataFrame

In [16]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
df = pd.DataFrame(data)
df

      2015     2010     2005     2000   지역  2010-2015 증가율
0  9904312  9631482  9762546  9853972  수도권         0.0283
1  3448737  3393191  3512547  3655437  경상권         0.0163
2  2890451  2632035  2517680  2466338  수도권         0.0982
3  2466052  2431774  2456016  2473990  경상권         0.0141

In [17]:
index = ['서울', '부산', '인천', '대구']
df.index = index
df

       2015     2010     2005     2000   지역  2010-2015 증가율
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [20]:
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
df = pd.DataFrame(data, index = index, columns = columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [19]:
df.values

array([[9904312, 9631482, 9762546, 9853972, '수도권', 0.0283],
       [3448737, 3393191, 3512547, 3655437, '경상권', 0.0163],
       [2890451, 2632035, 2517680, 2466338, '수도권', 0.0982],
       [2466052, 2431774, 2456016, 2473990, '경상권', 0.0141]], dtype=object)

In [22]:
df.index.name = '도시'
df.columns.name = '구분'
df

구분   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [23]:
df.T

도시                  서울       부산       인천       대구
구분
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

In [24]:
df['지역'], df.지역

(도시
 서울    수도권
 부산    경상권
 인천    수도권
 대구    경상권
 Name: 지역, dtype: object,
 도시
 서울    수도권
 부산    경상권
 인천    수도권
 대구    경상권
 Name: 지역, dtype: object)

In [30]:
df.temp = [1, 2, 3, 4]

In [40]:
df['temp'] = [1, 2, 3, 4]   # 데이터 추가
df

구분   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     1
부산  경상권  3448737  3393191  3512547  3655437         0.0163     2
인천  수도권  2890451  2632035  2517680  2466338         0.0982     3
대구  경상권  2466052  2431774  2456016  2473990         0.0141     4

In [39]:
df.temp = [5, 6, 7, 8]
df

구분   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     5
부산  경상권  3448737  3393191  3512547  3655437         0.0163     6
인천  수도권  2890451  2632035  2517680  2466338         0.0982     7
대구  경상권  2466052  2431774  2456016  2473990         0.0141     8

In [42]:
del df['temp']
df

구분   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [43]:
df['2010']  # 시리즈 반환

도시
서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [45]:
df[['2010']]    # 리스트 사용시 데이터 프레임 반환

구분     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

In [44]:
df[['2010', '2015']]

구분     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

- 행 인덱싱

In [52]:
df['2015'][0]   # df[시리즈 열][행] | 데이터 프레임에서는 열이 먼저

9904312

In [47]:
df[:1]  # 데이터프레임에서 행 갖고오기

구분   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283

In [48]:
df['서울' : '부산']

구분   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163

- 개별 데이터 인덱싱

In [55]:
df['지역']['서울']  # df[열][행] | 데이터 프레임에서는 열이 먼저

'수도권'

In [57]:
df['2015'][2]

2890451

In [58]:
df.지역[0]

'수도권'

In [59]:
df.지역.서울

'수도권'

In [60]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object', name='도시')